<div class="shape">
  <img  class="background" src="../../assets/shapes/2.png">
</div>
<h2> Sua Jornada </h2>
<div [ngClass]="getClass()">
  <div class="col-left">
            <p>        <u> Welcome (1ª dia)</u> :
               Encontro realizado no seu primeiro dia. É conduzido pelo time de Talent Management e tem por objetivo te contar sobre nossa trilha, além de explicar sobre acessos e portais para dúvidas. </p>

            <p>    <u> Group IT New Hire Orientation (1ª segunda-feira na empresa)</u> :
              Encontro conduzido por Group IT, com objetivo de explicar sobre acessos e conectividade.</p>

            <p>    <u> Introdução Gestor (1ª dia)</u> :
                  Primeiro contato com sua gestão/equipe.</p>
            <p>    <u> Integração de boas-vindas (1ª terça-feira na empresa)</u> :
               Encontro conduzido pelo time de Talent Management, com objetivo de explicar sobre trilha de onboarding, empresa, carreira e processos administrativo, benefícios, desenvolvimento, etc.</p>

            <p>    <u> Dúvidas: Sistema de Ponto e Alocação de horas (1ª quinta-feira na empresa)</u> :
               Encontro conduzido pelo time de Ponto Eletrônico e Governança, com objetivo de explicar sobre o registro de ponto, alocação de horas e utilização da ferramenta Certponto.</p>

            <p>    <u> Segunda Rodada Group IT New Hire Orientation (1ª sexta-feira após sessão Group IT New Hire Orientation)</u> :
              Sessão de tira-dúvidas</p>

            <p>    <u> Touchpoint HRBP (2ª semana)</u> :
               Neste encontro é apresentado o organograma, Fale com RH e plataformas de desenvolvimento.</p>

            <p>    <u> My career e Next (3ª semana)</u> :
               Encontro conduzido por uma HRBP (Human Resources Business Partner). O tema abordado é o Mycareer e as plataformas de desenvolvimento.</p>

            <p>    <u> JobFeed: Skill Portal e R2D2 (1º Mês)</u> :
              Encontro conduzido pelo time de RSC (Resource Supply Chain). Tem por objetivo explicar sobre a utilização da  ferramenta JobFeed.</p>

            <p>    <u>Time to Connect – Practice Leaders (2º mês)</u> :
             Conduzido por seu líder de prática. O tema abordado é a prática: maiores desafios e metas.</p>

            <p>    <u>Time to Connect –  Support Functions (3º mês)</u> :
              Conduzido por um representante de cada área de suporte. Cada apresentador fala um pouco sobre si e sobre sua área de atuação.</p>

            <p>    <u>Time to Connect – Business (4º mês)</u> :
               Conduzido por um Vice Presidente. O tema abordado é sua trajetória pessoal na Capgemini, nossas metas, o que entregamos, casos de sucesso.</p>

            <p>    <u>Programa de Diversidade e Inclusão (5º mês)</u> :
              Aqui você irá conhecer nosso programa de Diversidade, Inclusão Digital e Desenvolvimento Sustentável.</p>

            <p>    <u>HR For You – TP2 (10º mês)</u> :
               Nesse encontro falamos sobre Saúde Mental, Employee Experience, Glassdoor e Pulse.</p>



</div>

<div class="col-right">
 <img src ="../../assets/Sogeti_Illustrations-Set_png/Sogeti_Illustrations-36.png">
 <img src="../../assets/sway/02 Sua Jornanda/jornada.jfif">
 <img src ="../../assets/Sogeti_Illustrations-Set_png/Sogeti_Illustrations-68.png">
 <img src ="../../assets/Sogeti_Illustrations-Set_png/Sogeti_Illustrations-63.png">

</div>






