<div class="shape">
  <img  class="background" src="../../assets/shapes/2.png">
</div>
<h2> Fale com o RH</h2>

<div [ngClass]="getClass()">
  <div class="col-left">
    <img src ="../../assets/Sogeti_Illustrations-Set_png/Sogeti_Illustrations-57.png">

</div>

<div class="col-right">
  <div>A Capgemini possui um canal exclusivo para atender suas
    dúvidas de RH. É muito simples e rápido. </div>
  <br>
<p>
  Sua dúvida é direcionada exatamente para o time
  responsável por essa tratativa. Assim, não tem erro, não é
  mesmo?
</p>
<br>

<p>
  Estamos falando do Portal
  <a href="https://sharepoint-capps.capgemini.com/sites/brazildashboard/QA/SitePages/HelpDesk/HomeCapIT.html"> Fale com RH </a>
</p>

<br>

<p>
  Quer saber tudo sobre ele? Que tal
  assistir o vídeo ao lado
  <a href="https://app.pipefy.com/public/form/qZDmWpiT"> Clique Aqui</a>
</p>
<br>

<p>
  Você tentou acessar o portal, mas não conseguiu?
  Fique tranquilo, vamos te ajudar! problema.
</p>
<br>
<p>
Se você tiver menos de 3 dias de
  empresa, isso é normal. Significa que o
  time ainda está trabalhando para liberar o
  seu acesso.
</p>
<hr>
<p>
  Porém, se esse prazo já encerrou e você
  continua sem acesso,
  <a href="https://app.pipefy.com/public/form/qZDmWpiT">CLIQUE AQUI</a> e
  preencha o formulário para avisar ao time
  sobre o erro.
</p>

</div>

</div>
