<div class="shape">
  <img  class="background" src="../../assets/shapes/1.png">
  <h2> Home</h2>
  <div class="corpo">
    <div [ngClass]="getClass()">
  <div class="col-left">
    <div class="card welcome-card">
      <div class="card-head welcome-head-container">
        <div class="col-left">
          <div> Seja bem vindo!</div>
          <p> Esse é seu portal de integração,</p>
          <p> Tudo que você precisa está aqui! </p>
        </div>
        <div class="col-right">
          <img [src]="'assets/profile-bg-3.png'" alt="profile">
        </div>
      </div>
      <div class="card-body welcome-body-container">
        <div class="col-left">
          <div class="avatar">
            <img [src]="'assets/user3.jpeg'" alt="user">
          </div>
          <div class="name"> Alexandre Silva</div>
          <p> Web Developer</p>
        </div>
        <div class="col-right">
          <div class="performance-container">
            <div class="performance">
              <div> Performance</div>
              <div> 80% </div>
            </div>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
          </div>
          <div class="view-profile">
            <button>
              Ver perfil
              <i class="far fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="col task-col">
    <div class="task">
      <span class="bar completed"></span>
      <div class="details">
        <div>Completas</div>
        <p>6 tarefas</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>

    <div class="task">
      <span class="bar active"></span>
      <div class="details">
        <div>On the Job</div>
        <p>27 tarefas</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>

    <div class="task">
      <span class="bar new"></span>
      <div class="details">
        <div>Atribuídas</div>
        <p>12 tarefas</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>

    <div class="task">
      <span class="bar next"></span>
      <div class="details">
        <div>Mandatório</div>
        <p>12 tarefas</p>
      </div>
      <i class="far fa-pen edit"></i>
    </div>
    <button>
      <i class="far fa-plus"></i>
      Criar uma nova tarefa</button>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-head">
    <i class="fab fa-wpforms"></i>
    Fórum Geral
    <i class="fas fa-ellipsis-v"></i>
  </div>
</div>
<div class="card">
    <div class="card-head">
    <i class="fab fa-wpforms"></i>
    Fórum Java
    <i class="fas fa-ellipsis-v"></i>
  </div>
</div>
<div class="card">
  <div class="card-head">
    <i class="fab fa-wpforms"></i>
    Fórum ServiceNow
    <i class="fas fa-ellipsis-v"></i>
  </div>
</div>
<div class="card">
  <div class="card-head">
    <i class="fab fa-wpforms"></i>
    Fórum Cloud
    <i class="fas fa-ellipsis-v"></i>
  </div>
</div>
<div class="card">
  <div class="card-head">
    <i class="fab fa-wpforms"></i>
    Fórum SalesForce
    <i class="fas fa-ellipsis-v"></i>
  </div>


</div>


</div>
